
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;

font-family: 'Roboto',sans-serif;

}


html{

    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #1f1e1f;

}


.content{
 width: 100vw;
 height: 70px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 position: fixed;
 padding-left: 30rem;
 background: #1f1e1f;

}


.logo{
width: 70px;
height: auto;
cursor: pointer;
display: flex;
align-items: center;
    
}




.logo h3{
    font-size: 1.6rem;
    color: white;


}

.logo img{

height: 100%;
width: 100%;

}


.content .list-menu{
width: 600px;
display: flex;
align-items: center;
justify-content: space-between;
    
}

.content .list-menu li a{
color: white;
padding: 3rem 1rem 2rem 1rem;
font-size: 1.8rem;
text-transform: uppercase;
  font-weight: 500; 
  transition: all 200ms ease-in; 
}


.content .list-menu li a:hover

{
background: #333;
border-bottom: 4px solid #ffc506;
color: #ffc506;
    
}


.firt-section{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

flex-direction: row;
background-position: center center;
background-size: cover;
background-position-y: 50px;
 background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(assets/img/fundopizza.jpg);   
}




.firt-section .conteudo-principal{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
}





.firt-section h1{

color: #ffc506;
font-size: 5rem;
text-transform: uppercase;
margin-bottom: 2rem;

}


.firt-section h2{

    color: rgb(177,177,177);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
    
    }
    




.btn button{
    width: 200px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffc506;
    border-radius: 10px;
    color: black;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}


.btn button:hover{


    border: 1px solid #ffc506;
    background-color: transparent;
    color: #ffc506;
}


.btn{

display: flex;
    width: 430px;
    justify-content: space-between;
}


/*sobre-nos*/
.sobre-nos{

background-color: #1f1e1f;
width: 100%;
padding-bottom: 5rem;

color: white;
display: flex;
align-items: center;
justify-content: center;
}

.sobre-nos img {

    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border:2px solid rgb(155, 155, 155);

}

.main{ display: flex;
justify-content: space-between;}


.contentsobre{

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentsobre h2{

  font-size: 6rem;
  margin-bottom: 1rem;
}



.contentsobre  p{


text-align: center;
    font-size: 1.3rem;
    width: 600px;
}


.cardapio{


    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.8);
}




.cardapio h2{
font-size: 4rem;
color: #e6e6e6;
text-transform: uppercase;

}


.cardapio .info h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
    
    }



    .cardapio .info h4{
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 150px 150px;
        margin-left: 6rem;
        
        }


        .cardapio .info h4 span{
          color: #585858;
          font-size: 1.6rem;
          text-decoration: underline;
          margin-left: 1.5rem;
            
            }


.item-cardapio{


    width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 350px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.item-cardapio .info{
    display: flex;
    background-color: rgb(221, 221, 221);
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.item-cardapio  img{
    width: 100%;
    height: 200px;
}


.item-cardapio div{


    background-color: #5e5252;
    box-shadow: 0px 0px 4px 1px;
}


.item-cardapio .info .pedir{
    height: 35px;
    background-color: #ffc506;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    color: black;
    transition: all 200ms  ease-in;
}




.item-cardapio .info .pedir:hover{
    height: 35px;
    background-color: #5e5252;
    color: white;
}



.contactos{
width: 100%;
background-color: #1f1e1f;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1.8rem;
color: white;
padding-bottom: 4rem;
}



.contactos h3{


}


.contactos h3{

    font-size: 6rem;
    margin-bottom: 3rem;
}


.contactos-session{
width: 650px;
display: flex;
justify-content: space-between;
font-size: 2rem;


}




.contactos-session i{
margin-right: 1rem;
    
    }


    .contactos-session div{
cursor: pointer;
transition: all 200ms ease-in-out;
            
            }

            .contactos-session div:hover{
            color: #ffc506;
                            
                            }

.footer{
background-color: black;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1200px){

    .main{
        display: block;
    }



    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0%;
    }


    .sobre-nos img{
        width: 600px;
        margin-left: -2px;

    }



}




@media (max-width:992px){

    html{
       font-size: 50%;
    }




}



@media (max-width:768px){

    html{
       font-size: 44%;
    }


    .content{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
      
     }
 


     .content .list-menu{
        display: none;
        
      
     }
 

     .item-cardapio{


        grid-template-columns: repeat(2,minmax(50px,350px));

     }



     .item-cardapio .info h4{



        margin-left: 12rem;
     }


     .one,
     .two,
      .tree{
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
     }


     .menu-toggle{
        width: 30px;
        height: 30px;
     }


     .content.on {
        position: fixed;

        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
     }




     .content.on .logo {
    
        display: none;

     }


     .content.on .menu-toggle {
    
     position: absolute;
     right: 40px;
     top: 20px;

     }


     .content.on .list-menu{
    
    display: block;

     }



     .content.on .list-menu li{
    
        display: flex;
    justify-content: center;
         }
    


         .content.on .list-menu li a{
    
       font-size: 2rem;
             }

             .content.on .menu-toggle .one{
               transform: rotate(45deg) translate(5px,-8px); }
    
               .content.on .menu-toggle .tree{
                transform: rotate(-45deg) translate(20px,-6px); }
     
 

     .content.on .menu-toggle .two {
        opacity: 0;
}


.contactos-session{
display: block;
text-align: center;
font-size: 2rem;
}



}



@media (max-width:600px){

    .conteudo-principal h1{
       font-size: 4rem;
       width: 500px;
       text-align: center;
    }
    .conteudo-principal h2{
        font-size: 2rem;
       
     }


     .item-cardapio{


      
        grid-template-columns: repeat(auto-fit, minmax(50px , 350px));
       
    }
    
    .sobre-nos img{


        width: 400px;
        height: 250px;
        margin-left: 10px;
       
    }
    
    .sobre-nos p{


        width: 400px;
       text-align: center;
       
    }


    .contactos-session{
        width: 300px;
    }
}



@media (max-width:500px){

    .btn{
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 150px;

    }




}



@media (max-width:395px){

    .sobre-nos img{
       width: 250px;
       height: auto;
       margin-left: 10px;
    }


  

    .contentsobre p{
        width: 250px;
       text-align: center;
     }



    .item-cardapio{
        width: 50%;
        justify-content: center;

      
        grid-template-columns: repeat(auto-fit, minmax(50px , 350px));
       
    }
    

    .item-cardapio img{
        width: 80%;
        height: auto;

      
      
       
    }
    


    .item-cardapio div{
       
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
     }



     .item-cardapio .info{
       
     width: 100%;
     height: 150px;
     }



     .item-cardapio .info h4{
    

      
        grid-template-columns: 93px 150px;
       
    }



    .item-cardapio .info .pedir{
    

      
        width: 100%;
        font-size: 1.5rem;
       
    }
    
    



    .firt-section h1{

      
        font-size: 2.4rem;
       
        margin-bottom: 2rem;
        
        }
        
        
        .firt-section h2{
        
          
            font-size: 2rem;
      
          
            
            }
        

}


@media (max-width:414px){

    .conteudo-principal h1{

        font-size: 2.5rem;
    }



    .sobre-nos img{
        width: 300px;
        height: auto;
       margin-left: 30px;
     }
 

}


